<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>



<p>test111</p>

  <!--<ion-content>-->
      <!--<p>test111</p>-->
    <!--<ion-refresher (ionRefresh)="loadHome($event)">-->
      <!--<ion-refresher-content> </ion-refresher-content>-->
    <!--</ion-refresher>-->
        <!--<ion-card ion-item *ngFor="let homeMain of mainList" (click)="detail(homeMain.nid)" text-wrap>-->
        <!--<ion-card-content text-center>-->
          <!--<ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>-->
          <!--<p>test111</p>-->
          <!--<h2>{{ homeMain.title }}</h2>-->
          <!--<p>{{ homeMain.title }}</p>-->
        <!--</ion-card-content>-->
        <!--</ion-card>-->
    <!--<ion-list>-->
      <!--<button ion-item *ngFor="let home of homeList; let odd=odd; let even=even;" (click)="detail(home.nid)" text-wrap class="row" [ngClass]="{ odd: odd, even: even }">-->
        <!--<ion-thumbnail item-start>-->
        <!--</ion-thumbnail>-->
        <!--<h2>{{home.title}}</h2>-->
        <!--<p>{{home.title}}</p>-->
      <!--</button>-->
    <!--</ion-list>-->
  <!--</ion-content>-->


